body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: auto;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1.5px; /* Espaçamento entre as linhas */
}

.label {
    flex: 0;
    margin-right: 5px; /* Aproxima a linha do título */
    font-weight: bold;
    white-space: nowrap;
}

.input {
    flex: 1;
    border: none;
    border-bottom: 1px solid black;
    padding: 2px;
    outline: none;
    background: transparent;
    margin-left: 3px; /* Aproxima a linha do título */
}

.input-pequeno {
    width: 80px;
}

.input-medio {
    width: 150px;
}

.input-grande {
    width: 100%;
}

/* Responsividade melhorada */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    .linha {
        justify-content: space-evenly; /* Mantém os elementos distribuídos igualmente */
    }

    .input {
        min-width: 100px; /* Mantém o tamanho ajustável */
    }

    .label {
        min-width: auto; /* Faz os rótulos ocuparem apenas o espaço do texto */
    }
}
